<h1>Rick and Morty Collectibles</h1>

<%= render 'shared/navbar' %>

<div class="checkout-container">
  <h1>Checkout</h1>

  <% if @cart_items.any? %>
    <h2>Your Cart</h2>
    <ul>
      <% @cart_items.each_with_index do |character, index| %>
        <li>
          <span class="item-number"><%= index + 1 %>.</span>
          <%= character.name %> x <%= character.cart_items_quantity %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Your cart is empty.</p>
  <% end %>

  <h2>Tax Rates</h2>
  <p>PST: <%= @pst %>%, GST: <%= @gst %>%, HST: <%= @hst %></p>

  <h2>Order Summary</h2>
  <p>Total Amount: <%= number_to_currency(@total_price) %></p>
  <p>Total Taxes: <%= number_to_currency(@tax) %></p>
  <p>Total Amount (including taxes): <%= number_to_currency(@final_total) %></p>

  <%= form_for :checkout, url: checkout_place_order_path, method: :post, html: { class: 'checkout-form' } do |f| %>
    <div class="form-group">
      <%= f.label :province_id, "Select Province" %>
      <select name="province_id" class="form-control">
        <option value="all">All Provinces</option>
        <% Province.all.each do |province| %>
          <option value="<%= province.id %>"><%= province.name %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_area :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, class: 'form-control' %>
    </div>

  <h2>Payment</h2>

    <div class="form-group">
      <label for="card-element">
        Credit or Debit Card
      </label>
      <div id="card-element" class="form-control">
        <!-- A Stripe Element will be inserted here. -->
      </div>
      <div id="card-errors" role="alert"></div>
    </div>

    <div class="form-group">
      <input type="submit" name="submit" value="Place Order" class="btn btn-primary checkout-button">
    </div>
  <% end %>
  <%= link_to 'Back to Cart', cart_path, class: 'btn btn-secondary' %>
</div>
<%= javascript_include_tag "stripe" %>
