<!-- app/views/shared/_navbar.html.erb -->
<nav class="navbar">
  <ul class="navbar-list">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About Us', about_us_path %></li>
    <li><%= link_to 'Contact Us', contact_us_path %></li>
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Cart', cart_path %></li>
    <li><%= link_to '4Admin', admin_dashboard_path %></li>
  </ul>

  <%= form_tag(products_path, method: :get, class: "search-bar") do %>
    <div class="search-inputs">
      <%= text_field_tag(:query, params[:query], placeholder: 'Search by name, status, gender, etc.') %>
      <!-- Dropdown list for status -->
      <%= select_tag(:status, options_for_select(['', 'Alive', 'Dead', 'unknown'], params[:status]), include_blank: 'All Status') %>
      <!-- Dropdown list for gender -->
      <%= select_tag(:gender, options_for_select(['', 'Female', 'Male', 'Genderless', 'unknown'], params[:gender]), include_blank: 'All Gender') %>
      <%= submit_tag('Search') %>
    </div>
  <% end %>
</nav>

<!-- Rest of the content (cards-container, styles, etc.) -->

