<h1>Rick and Morty Collectibles</h1>

<%= render 'shared/navbar' %> <!-- Include the navbar from a shared partial -->

<%= render 'shared/navbar_home' %> <!-- Include the larger navbar -->

<% if @characters.any? %>
  <div class="cards-container">
    <% @characters.each do |character| %>
        <div class="card">
          <%= image_tag(character.image) %>
          <div class="card-details">
            <h2><%= character.name %></h2>
            <p class="status" data-status="<%= character.status %>">Status: <%= character.status %></p>
            <p>Gender: <%= character.gender %></p>
            <% if character.location.present? %>
              <p>Location: <%= character.location %></p>
            <% else %>
              <p>Location: Unknown</p>
            <% end %>
            <p class="price">Price: <%= character.price %></p>
            <a href="#" class="card-link" data-character-id="<%= character.id %>">view</a>
            <%= button_to "Add to Cart", add_to_cart_path(character_id: character.id), method: :post %>
          </div>
        </div>

    <% end %>
  </div>
  <%= paginate @characters %>
<% else %>
  <p>No results found.</p>
<% end %>
<div class="overlay"></div>
<div class="card-center"></div>
