<!-- app/views/products/show.html.erb -->
<h1>Rick and Morty Collectibles</h1>
<%= render 'shared/navbar' %>
<h2>  Products</h2>


<div class="cards-container">
      <h1><%= @character.name %></h1>
      <%= image_tag(@character.image) %>
      <p>Status: <%= @character.status %></p>
      <p>Gender: <%= @character.gender %></p>
      <% if @character.location.present? %>
        <p>Location: <%= @character.location %></p>
      <% else %>
        <p>Location: Unknown</p>
      <% end %>
      <p>Price: <%= @character.price %></p>


<%= button_to "Add to Cart", add_to_cart_path(character_id: @character.id), method: :post %>
</div>